# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
downloads/Finish/
downloads/.cache/
downloads/downloads/
downloads/.cache
.downloads
.cache/
.cache
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/

# System / OS
.DS_Store
Thumbs.db
